---
layout: base.njk
---

{% block head %}
<link rel="stylesheet" href="/css/prism-vs.min.css" />
{% endblock head %}

{% from 'macros.njk' import code %}

<h1>Binyamin's CDN</h1>
<p>{{site.description}}</p>
<section>
	<h2>Usage</h2>
	<p>The packages are meant to be imported from within an ES module. They include the <var>x-typescript-types</var> HTTP header, for Deno usage.</p>

	<figure class="box-example">
		<figcaption>Example</figcaption>
		{% call code('js') %}
		import { html } from 'https://pkg.binyam.in/x/tiny-html-tags@v0.1.0/index.js';

		document.append(
			html.p('Hello')
		);
		{% endcall %}
	</figure>
</section>
